* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.site-header {
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
}


.nav-menu ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-menu ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-menu ul li a:hover,
.nav-menu ul li a.active {
    color: #ff5a2c;
}

/* Push content below fixed header */
.contact-hero {
    margin-top: 70px; /* height of header */
}

/* HERO SECTION */
.contact-hero {
    height: 65vh;
    background: url("city.jpg") center/cover no-repeat;
    position: relative;
}

.contact-overlay {
    position: absolute;
    inset: 0;
    background-color: rgb(209, 150, 150);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    padding: 0 20px;
}

.contact-overlay h1 {
    color: #ff5a2c;
    font-size: 50px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.dots {
    color: #cccccc;
    letter-spacing: 4px;
    margin-bottom: 25px;
}

.contact-overlay p {
    font-size: 16px;
    line-height: 1.7;
    max-width: 650px;
}

/* CONTACT INFO SECTION */
.contact-info {
    display: flex;
    justify-content: space-around;
    padding: 70px 10%;
    background-color: #ffffff;
}

.contact-card {
    max-width: 300px;
    text-align: center;
}

.contact-card i {
    font-size: 42px;
    color: #ff5a2c;
    margin-bottom: 20px;
}

.contact-card h3 {
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    color: #111;
}

.contact-card p {
    font-size: 14px;
    color: #7a7a7a;
    line-height: 1.6;
    margin-bottom: 18px;
}

.contact-card span {
    font-size: 14px;
    color: #ff5a2c;
    font-weight: bold;
}
