* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d4acac9a;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

.header { 
    position: fixed;
    background-color: rgb(209, 150, 150);
    top: 0;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(221, 148, 148); 
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 1rem;
}

.header nav ul li {
    margin: 0 15px;      
}

.header nav ul li a {
    text-decoration: none;
    color: #000;        
    font-weight: 700;
    padding: 8px 12px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.header nav ul li a:hover {
    color: #000;
    text-decoration: underline;
    transform: translateY(-2px);
}

/* .sign-up {
    background-color: rgb(235, 169, 169);
    border-radius: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
} */

.home-h1 {
    display: flex;
    justify-content: center;
    font-size: 80px;
    color: #0a0a0a;
    padding-top: 15%;
    margin-bottom: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.oasis {
    color: #a57d7dee;
    margin: 0 20px 0;
}

.home-h2 {
    display: flex;
    justify-content: center;
    color: #0a0a0a;
    font-size: 40px;
}

.img1 {
    padding: 5%;
}

.img1 > img {
    display: block;
    margin: 0 2rem;
    border-radius: 5px;
    box-shadow: 0 -5px 20px rgba(190, 135, 167, 0.877);
    float: right;  
    margin-top: 12px;
}

.img1 p {
    margin-top: 1rem;
    padding: 3%;
    color: #0a0a0a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
}