.faq-section {
    padding-top: 180px;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 50px;
    background: url(oasislogo.jpeg);
}

body {
    background-image: linear-gradient(rgba(212, 172, 172, 0.7), rgba(212, 172, 172, 0.7)), 
                      url('../oasislogo.jpeg'); 
    
    background-position: center;    
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.faq-title {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: #0a0a0a;
    margin-bottom: 30px;
}

.faq-item {
    background-color: rgba(255, 255, 255, 0.3);
    margin: 15px 20px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #a57d7dee;
}
.faq-question:hover{
color:blueviolet;
}

.faq-question {
    width: 100%;
    padding: 20px;
    background: none;
    border: none;
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: rgba(255, 255, 255, 0.5);
}

.faq-answer p {
    padding: 20px;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

.icon {
    font-size: 20px;
    color: #a57d7dee;
    transition: transform 0.3s;
}

.active .icon {
    transform: rotate(45deg);
}

.active + .faq-answer {
    max-height: 300px;
}